@using ClassLibrary.model
@using MvcStudy.Extensions
@model IEnumerable<ClassLibrary.model.Folder>

@{
    var parent = ViewData["Parent"] as Folder;
    var isRootFolder = Convert.ToBoolean(ViewData["IsRootFolder"] ?? true);
    var doc = new Document();
}

<table class="table">
    <tr>
        <th>
            @Html.SortLink("Название", "Name", "Index", "Folder", null)
        </th>
        <th>
            @Html.SortLink("Дата создания", "CreationDate", "Index", "Folder", null)
        </th>
        <th>Документ</th>

    </tr>
    @if (!isRootFolder)
    {
        <tr>
            <td>
                @Html.ActionLink("\\...", "Index", new { parent = (parent != null ? parent.Id : (long?)null) }, null)
            </td>
            <td></td>
            <td></td>
        </tr>
    }
    @foreach (var item in Model)
    {

        <tr>
           
            <td>
                @if (item is Document)
                {
                    doc = (Document)item;
                    <img src="~/Content/images/doc.jpg" style="width:24px"/> @Html.DisplayFor(model => item.Name)

                }
                else
                {
                    <img src="~/Content/images/Folder.jpg" style="width:24px"/> @Html.ActionLink(item.Name, "Index", new { parent = item.Id }, null)
                }

            </td>
            <td>
                @Html.DisplayFor(model => item.CreationDate)
            </td>
            <td>
                @if (item is Document)
                {
                    doc = (Document)item;
                    if (doc.Avatar != null)
                    {
                        <img src="@Url.Action("GetAvatar", new { id = item.Id })" style="width:24px;" />
                        @Html.ActionLink("Скачать", "GetAvatar", new { id = item.Id }, null)
                    }
                }
                else
                { }
            </td>
        </tr>
    }

    
</table>
