@model IEnumerable<ClassLibrary.model.Folder>

@{
    ViewBag.Title = "LoadAllFolder";
}

<h2>LoadAllFolder</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameFolder)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @Html.HiddenFor(model => item.Id)

            <td>
                <a href="/Document/LoadDocument/@item.Id">@Html.DisplayFor(modelItem => item.NameFolder)</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
@*<td><p>@item.Name </p></td>
<td><p>@item.MyUser.Name</p></td>
<td><p>@item.Date </p></td>
<td><p><a href="/Home/Download/@item.MyDoc.Id"><img src="~/img_501426.png" /></a></p></td>*@
